################################
# Elasticsearch
################################

# Elasticsearch home directory
ES_HOME={{ es_home }}

# Elasticsearch Java path
{% if es_java_home %}
JAVA_HOME={{ es_java_home }}
{% else %}
#JAVA_HOME=
{% endif %}

# Elasticsearch configuration directory
CONF_DIR={{ es_conf_dir }}
ES_PATH_CONF={{ es_conf_dir }}

# Elasticsearch data directory
DATA_DIR="{{ es_data_dir_delimited }}"

# Elasticsearch logs directory
LOG_DIR={{ es_log_dir }}

# Elasticsearch PID directory
PID_DIR={{ es_pid_dir }}

ES_JVM_OPTIONS={{ es_conf_dir }}/jvm.options

# Configure restart on package upgrade (true, every other setting will lead to not restarting)
#ES_RESTART_ON_UPGRADE=true

# Path to the GC log file
#ES_GC_LOG_FILE=/var/log/elasticsearch/gc.log
