[Service]
{% if es_dynamic_heap %}
# replace default ExecStart by prepending with ES_JAVA_OPTS
# dynamically calculating -Xms/-Xmx as 1/2 total system memory
ExecStart=
ExecStart=/bin/sh -c " \
  MEM_MB=$(($(grep MemTotal /proc/meminfo | awk '{print $2}') / 1024 / 2)) \
  ES_JAVA_OPTS=\"-Xms$${MEM_MB}m -Xmx$${MEM_MB}m\" \
  exec /usr/share/elasticsearch/bin/elasticsearch \
    -p ${PID_DIR}/elasticsearch.pid \
{% if (es_version is version_compare('6.0.0', '<')) %}
    -Edefault.path.logs=${LOG_DIR} \
    -Edefault.path.data=${DATA_DIR} \
    -Edefault.path.conf=${CONF_DIR} \
{% endif %}
    --quiet"
{% endif %}

# Specifies the maximum number of processes
LimitNPROC={{ es_max_threads }}

# Specifies the maximum size of virtual memory
LimitAS=infinity

# Specifies the maximum file size
LimitFSIZE=infinity

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# Send the signal only to the JVM rather than its control group
KillMode=process

# Specifies the maximum number of bytes of memory that may be locked into RAM
# Set to "infinity" if you use the 'bootstrap.memory_lock: true' option
# in elasticsearch.yml and 'MAX_LOCKED_MEMORY=unlimited' in es_environment_file
{% if es_memory_lock_enabled  %}
LimitMEMLOCK=infinity
{% else %}
#LimitMEMLOCK=infinity
{% endif %}
